.buttonRefresh {
  background-color: #eb0237;
  width: 204px;
  height: 56px;
  border-radius: 4px;
  padding: 16px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  
}

.buttonRefresh:hover {
  cursor: pointer;
  background-color: #a01131;
}
.buttonRefresh:active {
  cursor: pointer;
  background-color: #701328;
}

/* .refresh{
    animation: 1s linear 0s normal infinite running refresh;
    -webkit-animation: 1s linear 0s normal infinite running refresh;
}
@keyframes refresh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */
