.errorCard {
  background: #0f1318;
  width: 480px;
  height: 56px;
  gap: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  position: relative;
  left: 380px;
  
}

.description{
    font-size: 18px;
    
}